<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <!-- General Form Elements -->
    <div class="container" style="width: 70%">


    <header >
        <h3 align="center">Editing Contact Record</h3>
    </header>
    <form th:action="@{/parameters/contacts}" method="post">

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input name="id" th:value="${contact.id}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Firstname</label>
            <div class="col-sm-10">
                <input name="firstname" th:value="${contact.firstname}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Lastname</label>
            <div class="col-sm-10">
                <input name="lastname" th:value="${contact.lastname}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input name="phone" th:value="${contact.phone}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" th:value="${contact.email}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Mobile</label>
            <div class="col-sm-10">
                <input name="mobile" th:value="${contact.mobile}" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Remarks</label>
            <div class="col-sm-10">
                <input name="remarks" th:value="${contact.remarks}" type="text" class="form-control">
            </div>
        </div>


        <div class="row mb-3">

            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/parameters/contacts" class="btn btn-warning">Exit</a>
            </div>
        </div>

    </form><!-- End General Form Elements -->
    </div>
</div>

</body>
</html>