<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">
    <!-- General Form Elements -->
    <div class="container" style="width: 70%">


    <header >
        <h3 align="center"> Contact Record Details</h3>
    </header>
    <form  method="put">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Firstname</label>
            <div class="col-sm-10">
                <input name="firstname" th:value="${contact.firstname}" readonly type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Lastname</label>
            <div class="col-sm-10">
                <input name="lastname" th:value="${contact.lastname}" readonly type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input name="phone" th:value="${contact.phone}" readonly type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" th:value="${contact.email}" readonly type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Mobile</label>
            <div class="col-sm-10">
                <input name="mobile" th:value="${contact.mobile}" readonly type="text" class="form-control">
            </div>
        </div>


        <div class="row mb-3">

            <div class="col-sm-10">
                <button type="submit" disabled class="btn btn-success">Save</button>
                <a href="/parameters/contacts" class="btn btn-warning">Exit</a>
            </div>
        </div>

    </form><!-- End General Form Elements -->




    </div>


<!--    <div class="container" style="width: 70%">-->


<!--        <header>-->
<!--            <h3 align="center" >List of State in Country <div th:text="${country.description}"></div> </h3>-->


<!--        </header>-->
<!--        <table class="table table-borderless datatable">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Name</th>-->
<!--                <th scope="col">Capital</th>-->
<!--                <th scope="col">Code</th>-->
<!--                <th scope="col">Details</th>-->
<!--&lt;!&ndash;                <th scope="col">Action</th>&ndash;&gt;-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="state: ${country.states}">-->

<!--                <td th:text="${state.name}"></td>-->
<!--                <td th:text="${state.capital}"></td>-->
<!--                <td th:text="${state.code}"></td>-->
<!--                <td th:text="${state.details}"></td>-->
<!--                <td>-->
<!--&lt;!&ndash;                    <div class="btn-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="btn btn-primary" th:href="@{'/parameters/stateDetails/'+${state.id}}">+</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="btn btn-success"&ndash;&gt;-->
<!--&lt;!&ndash;                           th:href="@{'/parameters/state/Edit/'+${state.id}}">√</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="btn btn-danger"&ndash;&gt;-->
<!--&lt;!&ndash;                           onclick="return confirm('Are you sure you want to delete this record?')"&ndash;&gt;-->
<!--&lt;!&ndash;                           th:href="@{'/parameters/states/delete/'+${state.id}}" >×</a>&ndash;&gt;-->

<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                </td>-->
<!--            </tr>-->

<!--            </tbody>-->
<!--        </table>-->








<!--    </div>-->
</div>
</body>
</html>