<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">



                            <div class="card-body">


                                <h5 class="card-title">Vehicles </span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">



                            <div class="card-body">
                                <h5 class="card-title">Vehicles Models</span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles Models</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">



                            <div class="card-body">
                                <h5 class="card-title">Vehicles Makes</span></h5>

                                <div class="d-flex align-items-center">

                                </div>
                                <div class="ps-3">
                                    <p>With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary"> Manage Vehicles Makes</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->

            </div>
        </div>


    </section>
    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">



                            <div class="card-body">


                                <h5 class="card-title">Vehicles Status </span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles Status</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">



                            <div class="card-body">
                                <h5 class="card-title">Vehicles Types</span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles Types</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">



                            <div class="card-body">
                                <h5 class="card-title">Vehicles Hires</span></h5>

                                <div class="d-flex align-items-center">

                                </div>
                                <div class="ps-3">
                                    <p>With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary"> Manage Vehicles Hires</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->

            </div>
        </div>


    </section>
    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">



                            <div class="card-body">


                                <h5 class="card-title">Vehicles Movements </span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles Movements</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">



                            <div class="card-body">


                                <h5 class="card-title">Vehicles Maintenance </span></h5>

                                <div class="d-flex align-items-center">

                                    <div class="ps-3">
                                        <p>With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary"> Manage Vehicles Maintenance</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->




            </div>
        </div>

        </div>
    </section>

</div>
</body>
</html>